.fb-button {
  -webkit-font-smoothing: antialiased;
  border-width: calc-responsive(1, 468, 2, 1920);
  border-style: solid;
  color: #FFF;
  cursor: pointer;
  display: block;
  text-decoration: none;
  transition: background-color .3s, border-color .3s;
  padding: calc-responsive(15, 468, 20, 1920) calc-responsive(20, 468, 25, 1920);
  width: 90%;
  height: 3rem;
  margin: 0 auto;
  font-size: 0.9rem;
  letter-spacing: 3.5px;
  border-radius: 2px;
  background-color: #3b579d;
  border-color: #3b579d;
  /*box-shadow: 1px 1px 1px #1A237E;*/
}
